.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin-top: 20px;
}

.points-img {
  width: 55px;
  height: 15px;
}

.subtitle-header {
  font-family: "Oleo";
  font-size: 38px;
  color: #367a4a;
  margin: 10px;
}
