<div class="container">
  <div class="header">
    <h1 class="title">BrisaZen</h1>

    <ion-avatar class="avatar-grande">
      <img alt="Logo" src="/assets/logo.png" />
    </ion-avatar>

    <h2 class="subtitle">Respira y<br /><span class="subtitle-line">relájate</span></h2>
    <p class="subtitle-small">Un espacio sereno para comenzar</p>
  </div>

  <div class="container-buttons">
    <ion-button routerLink="/login" class="button-l" expand="block">INICIAR</ion-button>
    <ion-button routerLink="/sign-up" class="button-d" expand="block">REGISTRARSE</ion-button>

    <div class="dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</div>
