
  <div id="container">
    <div class="info">
      <strong>BrisaZen </strong>
      <ion-avatar class="avatar-grande">
        <img alt="Logo" src="../../../assets/logo.png" />
      </ion-avatar>

      <p>Respira y  relajate</p>
      <p>espacio sereno</p>
    </div>
    <ion-grid>
      <ion-row>
        <div class="button-welcon">
          <ion-button expand="block" routerLink="/login" class="button-l">Iniciar sesión</ion-button>
          <ion-button expand="block" routerLink="/sign-up" class="button-d">Crear cuenta</ion-button>
        </div>
      </ion-row>
    </ion-grid>
  </div>


