
<div id="container">
  <div class="info">
    <strong id="Title">BrisaZen</strong>
      <ion-avatar class="avatar-grande">
        <img alt="Logo" src="../../../assets/logo.png" />
      </ion-avatar>
    <strong id="Subtitle"> Respira y relajate </strong>
    <p>Un espacio sereno para comenzar</p>

  </div>
  
  <div class="buttons">
    <ion-button routerLink="/login" class="button-l">Iniciar</ion-button>
    <ion-button routerLink="/sign-up" class="button-d">Registrarse</ion-button>
  </div>
</div>

