/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
  font-family: "Oleo";
  src: url("/assets/font/Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nokora";
  src: url("/assets/font/Nokora/Nokora-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kelly";
  src: url("/assets/font/Kelly_Slab/KellySlab-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: "kelly", serif;
  font-size: 50px;
  line-height: 5px;
  color: #367a4a;
  margin: 20px;
  font-weight: 550;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow:
    0.4px 0 0 #367a4a,
    -0.4px 0 0 #367a4a,
    0 0.4px 0 #367a4a,
    0 -0.4px 0 #367a4a;
}

.subtitle {
  font-family: "Oleo", cursive;
  font-size: 60px;
  color: #367a4a;
  margin: 10px;
}

.subtitle-small {
  font-family: "Nokora", serif;
  font-size: 20px;
  color: #367a4a;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100vw;
  height: 100vh;

  padding: 40px 0;

  background: #f6f1da;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 50%;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.avatar-grande {
  width: 45vw;
  height: 18vh;
  --border-radius: 50%;
}

.avatar-grande img {
  width: 125%;
  height: 125%;
  --background-image: cover;
}

.button-d,
.button-l {
  height: 55.26px;
  width: 271px;
  margin: 15px;
  --font-family: arial;
  font-size: 20px;
  --color: white;
  --background: #429644;
  --border-radius: 26px;
  border: none;
}

.button-l {
  --background: #cfdb8f;
}

/* ANDRES EL CRACK DEL CSS PASÓ POR AQUI Y ARREGLO EL VAINERO LOCO QUE HABIA, CANCER VISUAL LITERAL*/
