:host {
  display: block;
  font-family: "Nokora", serif;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}

.title-home {
  font-family: "Oleo", cursive;
  font-size: 40px;
  color: #367a4a;
}

.avatar-pequeño {
  width: 30vw;
  height: 14vh;
  --border-radius: 50%;
  margin-bottom: 16px;
}

.welcome-text {
  font-family: "Oleo", serif;
  font-size: 30px;
  color: #367a4a;
  margin-bottom: 16px;
}

.context {
  font-family: "Nokora", serif;
  font-size: 18px;
  height: 95vh;
  margin: 20px;
  border-radius: 16px;
  background: #cfdb8f;
}
