#container {
  text-align: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
 
  background: #F6F1DA;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40%;
}

.avatar-grande {
  width: 120px;   /* ajusta según necesites */
  height: 120px;
}

.avatar-grande img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* o contain, según el tipo de imagen */
}

#container strong {
  font-size: 50px;
  line-height: 26px;
  color: #367A4A;
  margin: 20px;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}