
<ion-content [fullscreen]="true">
  <div id="container">

    <div class="info">
      <strong>BrisaZen </strong>
      <ion-avatar class="avatar-grande">
        <img alt="Logo" src="../../../assets/logo.png" />
      </ion-avatar>


      <strong>Respira y  relajate</strong>
      <p>espacio sereno</p>
    </div>
    <div class="buttons">
    <!-- <ion-button>Default</ion-button> <ion-button [disabled]="true">Disabled</ion-button> -->

    </div>
    
    <!-- <ion-button>Default</ion-button> <ion-button [disabled]="true">Disabled</ion-button> -->
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
