#container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
 
  transform: translateY(-50%);
  background: #F6F1DA;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: #367A4A;
  
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}